---
import rawStates from "@/assets/states-10m.json"
import { geoAlbersUsa, geoPath } from "d3-geo"
import { feature } from "topojson-client"
import type { GeometryCollection, Topology } from "topojson-specification"
const states10m = rawStates as unknown as Topology<{
  states: GeometryCollection
}>
const stateFeatures = feature(states10m, states10m.objects.states).features
interface Props {
  fips: string[] // e.g. ["55087", "55117"]
}
const { fips } = Astro.props
const width = 960
const height = 600
const projection = geoAlbersUsa()
  .scale(1200)
  .translate([width / 2, height / 2])
const path = geoPath(projection)

const stateFipsSet = new Set(fips.map((f) => f.slice(0, 2)))
const targetStates = stateFeatures.filter((s: any) =>
  stateFipsSet.has(String(s.id))
)
if (targetStates.length === 0) {
  throw new Error(`No states found for FIPS codes ${fips.join(", ")}`)
}

const stateBorders = stateFeatures
  .map(
    (f: any) =>
      `<path d="${path(f)}" stroke="#ffffff" stroke-width="0.5" class="fill-chart-3/50"/>`
  )
  .join("")
const highlightedStates = targetStates
  .map(
    (f: any) =>
      `<path d="${path(f)}" class="fill-red-700 stroke-red-700" stroke-width="0.5"/>`
  )
  .join("")
---

<div class="m-auto w-full max-w-150">
  <svg viewBox={`0 0 ${width} ${height}`} xmlns="http://www.w3.org/2000/svg">
    <g set:html={stateBorders} />
    <g set:html={highlightedStates} />
  </svg>
</div>
